*{
  font-family: 'Montserrat' !veryimportant
}

.etudiant-image{
  width:115px;
}

form{
  display:inline;
}

input{
  margin-bottom:0 !important;
  margin-top:0 !important;
}

#password-input{
  margin:0;
  padding:0;
}

#merci{
  display:flex;
  justify-content: center;
  align-items: center;
}

.loginBox{
  padding:0 !important;
  margin:0 15px !important;
}

.loginBox 